@model WebRole1.Models.Question
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question details</h2>

<style>
    #img-upload {
        width: 200px;
        margin-bottom: 10px;
    }
</style>




    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger center" })

    <span style="display:none" id="name">@Model.IdP</span>

    <div class="form-group">
        <label for="title">Title:</label><br/>
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="form-group">
        <label for="text">Text:</label><br/>
        @Html.DisplayFor(model => model.Text)
    </div>


    @if (@Model.ImageName != null)
    {
        <label>Image:</label><br/>
        <img id='img-upload' src="/Images/@Model.ImageName" />
        <br />
    }

    <label>Answers:</label><br/>
    @foreach (var item in Model.Answers)
    {
        <div class="input-group">
            @if (@item.IsCorrect == 1)
            {
                <label class="text-success">@item.Tag)&nbsp</label>
                <span class="text-success">@Html.DisplayFor(model => item.Text)</span>
            }
            else
            {
                <label class="text-danger">@item.Tag)&nbsp</label>
                <span class="text-danger">@Html.DisplayFor(model => item.Text)</span>
            }
        </div>
    }
    <div class="form-group"></div>

@if (ViewBag.clone == 0)
{
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
        @if (Model.IsLocked == 1)
        {
            <span id="buttCh"><button type="button" class="btn btn-primary" id="unlock"><span class="glyphicon glyphicon-lock"></span>&nbsp Unlock (@ViewBag.unlock)</button></span>
        }
        else
        {
            <button type="button" class="btn btn-primary" id="edit"><span class="glyphicon glyphicon-edit"></span>&nbsp Edit</button>
        }
    </div>
}
else
{
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beckC"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#beck').on('click', function clckF() {
            window.location = "@Url.Action("Index", "Question")";
        });

        $('#beckC').on('click', function clckF2() {
            window.history.back();
        });

        $('#edit').on('click', function clckF1() {
            var number = $('#name').text();
            window.location = '@Url.Action("Editor", "Question")/'+number;
        });

        $('#unlock').on('click', function clickU() {
            var number = $('#name').text();
            $.ajax({
            type: "POST",
            data: { id: number },
            url: '@Url.Action("Index", "Question")',
                success: function (result) {
                    if (result !== "error") {
                        var elem1 = document.getElementById("numtoken");
                        elem1.innerHTML = result;

                        var actname ='<button type="button" class="btn btn-primary" id="edit1"><span class="glyphicon glyphicon-edit"></span>&nbsp Edit</button>';

                        elem1 = document.getElementById("buttCh");
                        elem1.innerHTML = actname;

                        $('#edit1').on('click', function clckF1() {
                               var number = $('#name').text();
                                window.location = '@Url.Action("Editor", "Question")/'+number;
                        });

                    }
                }
            });
        });


    });
</script>
