@model IEnumerable<WebRole1.Models.Question>

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>


<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    function linkClick(number) {
        $.ajax({
            type: "POST",
            data: { id: number },
            url: '@Url.Action("IndexUp", "Question")',
                success: function (result) {
                    if (result !== "error") {
                        if (result === "error2")
                            window.location = "@Url.Action("Logout", "Account")";
                        var elem1 = document.getElementById("numtoken");
                        elem1.innerHTML = result;

                        var actname = '<a href="@Url.Action("Editor", "Question")/'+number+'">Edit</a>';

                        var name1 = "span " + number;
                        elem1 = document.getElementById(name1);
                        elem1.innerHTML = actname;
                    }
                }
            });
    }
</script>





@using (Html.BeginForm("Index", "Question", FormMethod.Get, new { id = "FormSrc", role = "form", @class= "form-inline" }))
{
    <div class="input-group">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" id="srcbutt"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        <input type="text" name="Search" class="form-control" value="@ViewBag.srch"/>     
    </div>
}

<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Creation time (UTC)
        </th>
        <th>
            Last lock time (UTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.CreationTime, "{0:dd/MMM/yyyy HH:mm}")
            <!--@DateTime.Parse(Html.DisplayFor(modelItem => item.CreationTime).ToString()).ToLocalTime().ToString() local time if needed (lcoal for server ofc)--> 
        </td>
        <td>
            @Html.ValueFor(modelItem => item.LastLock, "{0:dd/MMM/yyyy HH:mm}")
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.IdP }) |
            @if (@item.IsLocked == 0)
            {
                @Html.ActionLink("Edit", "Editor", new { id = item.IdP })
            }
            else
            {
                <span style="cursor:pointer" id="span @item.IdP"><a href="@Url.Action("Index", "Publish")/@item.IdP">Publish</a> | 
                                                                 <a onclick="linkClick(@item.IdP)">Unlock (@ViewBag.unlock tokens)</a>
                </span>
            }
        </td>
    </tr>
 }

</table>
