@model IEnumerable<WebRole1.Models.Question>

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLocked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLocked)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.IdP }) |
            @Html.ActionLink("Edit", "Editor", new { id = item.IdP })
        </td>
    </tr>
}

</table>
